.correct {
color: green;
  }
  .incorrect {
    color: red;
      }


.hide_congrats{
    display: none;
}


body {
    position: relative;
}

form{
    position: absolute;
    left: 0%;
}

#alert{
position: absolute;
right: 20%;
margin-top: 10%;
    background-color:rgb(162, 224, 162);
    color: darkgreen;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10%;


}

.alert-title{
    font-size: 2rem;
    font-weight: 800;
}